* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 42pt;
}

h2 {
  font-size: 32pt;
}

h3 {
  font-size: 24pt;
}

h4 {
  font-size: 18pt;
}

h5 {
  font-size: 14pt;
}

h6 {
  font-size: 12pt;
}

h1, h2, h4, h4, h5, h6 {
  color: #465359;
  font-weight: 700;
}

p {
  margin: 0;
  line-height: 23pt;
}

p, ul, li, a, button {
  font-size: 15pt;
}

.container {
  max-width: 1180px;
}

.illustration {
  width: 100%;
}

.navbar {
  background-color: #FFFFFF;
  padding: 40px;
  box-shadow: 0 7px 15px rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0 7px 15px rgba(50, 50, 50, 0.2);
}

.navbar .navbar-brand {
  width: 240px;
}

.navbar .navbar-brand .logo {
  width: inherit;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #222222;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  padding: 20px 16px;
  border-top: 4px solid rgba(237, 128, 39, 0);
}

.navbar .navbar-nav .nav-item .active, .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ED8027;
  border-top: 4px solid #ED8027;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
  border: none;
  -webkit-box-shadow: 0 3px 9px rgba(50, 50, 50, 0.2);
          box-shadow: 0 3px 9px rgba(50, 50, 50, 0.2);
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  padding: 25px 50px;
  border-left: 3px solid #FFFFFF;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: rgba(237, 128, 39, 0.05);
  border-left: 3px solid #ED8027;
}

.navbar .navbar-nav .nav-item .dropdown-menu .active {
  background-color: #FAFAFA;
  border-left: 3px solid #ED8027;
  border-top: 0;
}

.navbar .navbar-nav .active {
  color: #ED8027;
  border-top: 4px solid #ED8027;
}

.navbar .navbar-nav .dropdown .dropdown-toggle {
  content: "";
}

.btn-successful {
  background-color: #9CE08F;
  border-radius: 0;
  color: #465359;
  padding: 14px 20px;
  font-size: 14pt;
}

.btn-successful:hover {
  background-color: #465359;
  border-radius: 0;
  color: #9CE08F;
  padding: 14px 20px;
  font-size: 14pt;
}

.btn-contact {
  background-color: #ED8027;
  border: 2px solid #ED8027;
  border-radius: 0;
  color: #FFFFFF;
  padding: 12px 18px;
  font-size: 14pt;
}

.btn-contact:hover {
  background-color: #323232;
  border: 2px solid #ED8027;
  border-radius: 0;
  color: #ED8027;
  padding: 12px 18px;
  font-size: 14pt;
}

.btn-register {
  background-color: #465359;
  border: 2px solid #465359;
  border-radius: 0;
  color: #FFFFFF;
  padding: 12px 18px;
  font-size: 14pt;
}

.btn-register:hover {
  background-color: #FFFFFF;
  border: 2px solid #465359;
  border-radius: 0;
  color: #465359;
  padding: 12px 18px;
  font-size: 14pt;
}

.btn-modal-register {
  background-color: #465359;
  border-radius: 0;
  color: #FFFFFF;
  padding: 14px 20px;
  font-size: 14pt;
}

.btn-modal-register:hover {
  background-color: #9CE08F;
  border-radius: 0;
  color: #465359;
}

.btn-green {
  background-color: #323232;
  color: #9CE08F;
  padding: 14px 20px;
  border-radius: 0;
  font-size: 14pt;
}

.btn-green:hover {
  background-color: #9CE08F;
  color: #323232;
  padding: 14px 20px;
  border-radius: 0;
  font-size: 14pt;
}

.btn-close {
  background-color: #EEEEEE;
  padding: 14px 20px;
  border-radius: 0;
}

.btn-close:hover {
  background-color: #FFFFFF;
}

.btn-programs {
  width: 100%;
  text-align: left;
  padding: 14px 20px;
  border-radius: 0;
  margin-bottom: 15px;
  font-size: 14pt;
  color: #ED8027;
}

.btn-programs:hover {
  background-color: #FAFAFA;
  -webkit-box-shadow: 0px 6px 8px rgba(50, 50, 50, 0.2);
          box-shadow: 0px 6px 8px rgba(50, 50, 50, 0.2);
  color: #ED8027;
}

.btn-programs:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #EEEEEE;
}

span.spacer {
  padding: 10%;
}

hr.horizontal-bar {
  width: 100%;
  border: 4px solid #ED8027;
  border-radius: 10px;
}

.top-header,
.book-a-coach-session-header,
.consultant-profile,
.our-capabilities-header,
.our-purpose-header,
.our-services,
.registration,
.register-for-a-session,
.training-schedule,
.programs,
.contact-us {
  margin-top: 12.3%;
}

.top-header {
  background-image: url("../img/fp-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-header .welcome {
  width: 70%;
  margin: 20% auto;
}

.top-header .welcome h1 {
  color: #465359;
  margin: 0;
  padding: 10px 0;
}

.top-header .welcome hr.horizontal-bar {
  margin: 0 0 20px 0;
  width: 260px;
}

.top-header .welcome p {
  padding-bottom: 10px;
}

.top-header .upcoming {
  background-color: #ED8027;
  width: 450px;
  padding: 50px;
  margin: 20% 0;
}

.top-header .upcoming a {
  color: #9CE08F;
}

.top-header .upcoming h3, .top-header .upcoming p {
  color: #FFFFFF;
}

.top-header .upcoming p:last-of-type {
  padding-bottom: 15px;
}

.what-we-do {
  background-image: url("../img/conference.jpg");
  background-position: top 20% center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 150px 50px;
  position: relative;
  z-index: 111;
}

.what-we-do .cover {
  background-color: rgba(34, 34, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -111;
  width: 100%;
  height: 100%;
}

.what-we-do h1 {
  color: #FFFFFF;
}

.what-we-do hr.horizontal-bar {
  width: 350px;
  margin: 3% 0 1.5%;
}

.what-we-do p {
  padding-bottom: 15px;
  font-size: 14pt;
}

.what-we-do .btn-green {
  background-color: #9CE08F;
  color: #222222;
}

.what-we-do .btn-green:hover {
  background-color: #ED8027;
  color: #FFFFFF;
}

.booking-area {
  padding: 10% 30px;
}

.booking-area h4 {
  font-weight: 600;
  line-height: 25pt;
  color: #323232;
}

.booking-area p {
  font-size: 14pt;
  padding-bottom: 15px;
}

.booking-area .carousel .carousel-control-next, .booking-area .carousel .carousel-control-prev {
  width: 7%;
}

.booking-area .carousel .carousel-control-prev {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(50, 50, 50, 0.05)), to(rgba(50, 50, 50, 0)));
  background-image: linear-gradient(to right, rgba(50, 50, 50, 0.05), rgba(50, 50, 50, 0));
}

.booking-area .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23222222' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.booking-area .carousel .carousel-control-prev:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(50, 50, 50, 0.15)), to(rgba(50, 50, 50, 0)));
  background-image: linear-gradient(to right, rgba(50, 50, 50, 0.15), rgba(50, 50, 50, 0));
}

.booking-area .carousel .carousel-control-next {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(50, 50, 50, 0.05)), to(rgba(50, 50, 50, 0)));
  background-image: linear-gradient(to left, rgba(50, 50, 50, 0.05), rgba(50, 50, 50, 0));
}

.booking-area .carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23222222' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.booking-area .carousel .carousel-control-next:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(50, 50, 50, 0.15)), to(rgba(50, 50, 50, 0)));
  background-image: linear-gradient(to left, rgba(50, 50, 50, 0.15), rgba(50, 50, 50, 0));
}

.booking-area .carousel .carousel-indicators li {
  background-color: #323232;
  opacity: .3;
  height: 4px;
  -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
  -ms-transform: skew(-30deg, 0deg);
}

.booking-area .carousel .carousel-indicators li.active {
  opacity: 1;
}

.booking-area .train-sched {
  background-color: #FFFFFF;
  padding: 5% 10%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.booking-area .train-sched .train-icon {
  height: 100px;
  position: absolute;
  bottom: 30px;
  right: 120px;
  opacity: 0.3;
  z-index: -1;
}

.booking-area .register-session {
  background-color: #FFFFFF;
  padding: 5% 10%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.booking-area .register-session .form-icon {
  height: 100px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  opacity: 0.3;
  z-index: -1;
}

.booking-area .booking-session {
  background-color: #FFFFFF;
  padding: 5% 10%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.booking-area .booking-session .book-icon {
  height: 100px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  opacity: 0.3;
  z-index: -1;
}

.our-purpose-header {
  background-image: url("../img/team-up.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 8% 5%;
  z-index: 111;
}

.our-purpose-header .cover {
  background-color: rgba(34, 34, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -111;
  width: 100%;
  height: 100%;
}

.our-purpose-header h1 {
  color: #FFFFFF;
}

.our-purpose-header hr.horizontal-bar {
  margin: 2% 0 0;
  width: 340px;
}

.our-purpose-header em {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #CCCCCC;
  font-size: 10px;
  opacity: 0.4;
}

.our-purpose-header em a {
  font-size: 10px;
  color: #9CE08F;
}

.our-purpose {
  padding: 4% 30px 10%;
}

.our-purpose .sec-one h1 {
  color: #465359;
}

.our-purpose .sec-one p {
  padding: 1% 0;
}

.our-purpose .sec-one p:last-of-type {
  padding: 2% 0;
}

.our-purpose .sec-one .sec-one-lists {
  padding-left: 25px;
  margin: 0;
}

.our-purpose .sec-one .sec-one-lists .sec-one-lists-header li {
  padding: 15px;
}

.our-purpose .sec-one .sec-one-lists .sec-one-lists-body {
  background-color: rgba(156, 224, 143, 0.2);
  padding: 0 30px;
}

.our-purpose .sec-one .sec-one-lists .sec-one-lists-body p {
  font-style: italic;
  font-size: 12pt;
}

.our-capabilities-header {
  background-image: url("../img/research.jpg");
  background-position: bottom 15% center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 8% 5%;
  z-index: 111;
}

.our-capabilities-header .cover {
  background-color: rgba(34, 34, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -111;
  width: 100%;
  height: 100%;
}

.our-capabilities-header h1 {
  color: #FFFFFF;
}

.our-capabilities-header hr.horizontal-bar {
  width: 460px;
  margin: 2% 0 0;
}

.our-capabilities-header em {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #CCCCCC;
  font-size: 10px;
  opacity: 0.4;
}

.our-capabilities-header em a {
  font-size: 10px;
  color: #9CE08F;
}

.our-capabilities {
  padding: 4% 50px 10%;
}

.our-capabilities .sec-two .sec-two-lists {
  padding: 1.5% 2%;
}

.our-capabilities .sec-two .sec-two-lists li {
  padding: 5px 1.5%;
}

.our-capabilities .sec-two-image {
  background-image: url("../img/research.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.our-services {
  padding: 8% 30px 10%;
}

.our-services .sec-three-header {
  padding: 0 3%;
}

.our-services .sec-three hr.horizontal-bar {
  margin: 2% 0;
  width: 350px;
}

.our-services .sec-three .sec-three-one {
  padding: 3%;
}

.our-services .sec-three .sec-three-one h4 {
  font-weight: 600;
}

.our-services .sec-three .sec-three-one ul {
  padding: 10px 25px;
}

.our-services .sec-three .sec-three-one ul li {
  padding: 10px 15px;
}

.our-services .sec-three .sec-three-one .illustration {
  padding: 5%;
}

.our-services .sec-three .sec-three-two {
  padding: 3%;
}

.our-services .sec-three .sec-three-two h4 {
  font-weight: 600;
}

.our-services .sec-three .sec-three-two ul {
  padding: 10px 25px;
}

.our-services .sec-three .sec-three-two ul li {
  padding: 10px 15px;
}

.our-services .sec-three .sec-three-two .illustration {
  padding: 5%;
}

.our-services .sec-three .sec-three-three {
  padding: 3%;
}

.our-services .sec-three .sec-three-three h4 {
  font-weight: 600;
}

.our-services .sec-three .sec-three-three ul {
  padding: 10px 25px;
}

.our-services .sec-three .sec-three-three ul li {
  padding: 10px 15px;
}

.our-services .sec-three .sec-three-three .illustration {
  padding: 5%;
}

.our-services .sec-three .sec-three-four {
  padding: 3%;
}

.our-services .sec-three .sec-three-four h4 {
  font-weight: 600;
}

.our-services .sec-three .sec-three-four ul {
  padding: 10px 25px;
}

.our-services .sec-three .sec-three-four ul li {
  padding: 10px 15px;
}

.our-services .sec-three .sec-three-four .illustration {
  padding: 5%;
}

.consultant-profile {
  padding: 8% 30px 10%;
}

.consultant-profile .sec-four-one {
  padding: 0 1.5%;
}

.consultant-profile .sec-four-one hr.horizontal-bar {
  margin: 2% 0 4%;
  width: 550px;
}

.consultant-profile .sec-four-one p {
  padding: 1% 0;
}

.consultant-profile .sec-four-one .illustration {
  width: 40%;
}

.consultant-profile .sec-four-one .text-wrap {
  float: right;
  margin: 0 0 20px 30px;
}

.consultant-profile .sec-four-one .img-border {
  -webkit-box-shadow: 0 5px 10px #DDDDDD;
          box-shadow: 0 5px 10px #DDDDDD;
  padding: 40px;
}

.consultant-profile .sec-four-one .link {
  color: #ED8027;
}

.register-for-a-session {
  padding: 8% 30px 10%;
}

.register-for-a-session h1 {
  color: #465359;
}

.register-for-a-session hr.horizontal-bar {
  width: 590px;
  margin: 4% 0;
}

.register-for-a-session h4 {
  font-weight: 600;
}

.register-for-a-session ol {
  padding: 20px 25px;
  margin: 0;
}

.register-for-a-session ol li {
  padding: 0 15px;
  line-height: 25pt;
  font-size: 14pt;
  color: #222222;
}

.register-for-a-session .illustration {
  padding: 2%;
}

.book-a-coach-session-header {
  background-image: url("../img/research.jpg");
  background-position: bottom 15% center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 8% 5%;
  z-index: 111;
}

.book-a-coach-session-header .cover {
  background-color: rgba(34, 34, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -111;
  width: 100%;
  height: 100%;
}

.book-a-coach-session-header h1 {
  color: #FFFFFF;
}

.book-a-coach-session-header hr.horizontal-bar {
  width: 460px;
  margin: 2% 0 0;
}

.book-a-coach-session {
  padding: 4% 30px 10%;
}

.book-a-coach-session h1 {
  color: #465359;
}

.book-a-coach-session hr.horizontal-bar {
  width: 710px;
  margin: 30px 0;
}

.book-a-coach-session h4 {
  font-weight: 700;
}

.book-a-coach-session ol li {
  line-height: 25pt;
  padding: 3px 10px;
}

.contact-us {
  padding: 8% 30px 10%;
}

.contact-us h1 {
  color: #465359;
}

.contact-us p {
  padding: 5px 0;
}

.contact-us .email-link {
  color: #ED8027;
  font-weight: 600;
}

.contact-us hr.horizontal-bar {
  width: 280px;
  margin: 3% 0;
}

.contact-us .contact-form {
  padding: 20px 0;
}

.contact-us .contact-form .form-group {
  padding: 0 30px 0 0;
}

.contact-us .contact-form .form-group .form-control {
  background-color: rgba(238, 238, 238, 0.2);
  border: none;
  border-bottom: 2px solid #EEEEEE;
  border-radius: 0;
  padding: 10px;
  transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  -webkit-transition: ease-in-out .3s;
}

.contact-us .contact-form .form-group .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid #9CE08F;
}

.contact-us .illustration {
  padding: 3%;
}

.registration {
  padding: 0 30px 10%;
}

.registration .registration-form {
  padding: 6% 0;
}

.registration .registration-form .banner {
  padding: 0 0 25px;
}

.registration .registration-form .registration-form-header {
  padding: 0 0 3% 0;
}

.registration .registration-form .registration-form-header hr.horizontal-bar {
  width: 50%;
  margin: 20px 0;
}

.registration .registration-form .registration-form-body .form-row .mb-3 {
  padding: 10px 20px;
}

.registration .registration-form .registration-form-body .form-row label {
  font-size: 13pt;
}

.registration .registration-form .registration-form-body .form-row .form-control {
  padding: 13px 15px;
  height: inherit;
  font-size: 13pt;
  line-height: 25pt;
  border: none;
  border-bottom: 3px solid #EEEEEE;
  border-radius: 0;
}

.registration .registration-form .registration-form-body .form-row .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 3px solid #ED8027;
}

.registration .registration-form .registration-form-body .form-row select.form-control {
  padding: 17px 15px;
  height: inherit;
  font-size: 13pt;
  line-height: 25pt;
  border: none;
  border-bottom: 3px solid #EEEEEE;
  border-radius: 0;
}

.registration .registration-form .registration-form-body .form-row select.form-control option {
  padding: 15px;
}

.registration .registration-form .registration-form-body .form-row .consent {
  padding: 2% 0;
}

.registration .registration-form .registration-form-body .form-row .consent .justified {
  text-align: justify;
  padding: 5px 20px;
}

.registration .registration-form .registration-form-body .form-row .consent .justified:first-of-type {
  padding: 0px 20px 5px;
}

.registration .registration-form .registration-form-body .form-row .alert {
  color: #465359;
  background-color: #FAFAFA;
  border-radius: 0;
  border: none;
  font-weight: 600;
}

.tab {
  display: none;
}

.programs {
  padding: 8% 50px 10%;
  padding-top: 8%;
  padding-bottom: 10%;
}

.programs .programs-header {
  padding: 0 0 40px;
}

.programs hr.horizontal-bar {
  margin: 3% 0;
  width: 210px;
}

.programs .program-lists {
  border-bottom: 4px solid #DDDDDD;
  padding: 40px 10px 20px 10px;
}

.programs .program-lists .programs-dates {
  padding: 12px;
  text-align: center;
  border-radius: 0;
}

.programs .program-lists .programs-dates p {
  font-size: 13pt;
}

.programs .program-lists:last-of-type {
  border-bottom: 0;
}

.programs .modal-header {
  padding: 3%;
  background-color: #465359;
}

.programs .modal-header .modal-title {
  font-weight: 600;
  color: #FFFFFF;
}

.programs .modal-header .close {
  color: #FFFFFF;
}

.programs .modal-body h6, .programs .modal-body p, .programs .modal-body ul, .programs .modal-body li {
  font-size: 13pt;
}

.programs .modal-body h6 {
  font-weight: 600;
  color: #465359;
}

.programs .modal-body [class*="modal-body-"] {
  padding: 2% 0;
  border-bottom: 2px solid #EEEEEE;
}

.programs .modal-body [class*="modal-body-"] ul {
  padding-left: 20px;
}

.programs .modal-body [class*="modal-body-"]:last-of-type {
  padding: 2% 0;
  border-bottom: 0;
}

.programs .modal-footer {
  background-color: #EEEEEE;
}

.before-footer {
  background-color: #465359;
  padding: 8% 100px;
}

.before-footer h1, .before-footer p {
  color: #FFFFFF;
}

.before-footer p {
  margin: 0;
  line-height: 23pt;
  padding-bottom: 5px;
}

.before-footer p:last-of-type {
  padding-bottom: 20px;
}

.before-footer .btn-contact {
  background-color: #ED8027;
  border-radius: 0;
  color: #FFFFFF;
  padding: 12px 18px;
  font-size: 14pt;
}

.before-footer .btn-contact:hover {
  background-color: #FFFFFF;
  border-radius: 0;
  color: #ED8027;
  padding: 12px 18px;
  font-size: 14pt;
}

footer.footer {
  background-color: #222222;
  padding: 30px;
}

footer.footer p {
  text-align: center;
  font-size: 9pt;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (min-width: 320px) {
  .modal-dialog {
    max-width: 1000px;
  }
  .modal-dialog .modal-body {
    padding: 3%;
  }
}
/*# sourceMappingURL=main.css.map */